.loginsignup {
    width: 100%;
    height: 80vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginsignup-container {
    width: 480px;
    background: #f2f2f2;
    padding: 40px 50px;
    border-radius: 10px;
}

.loginsignup-container h1 {
    margin: 20px 0px;
    text-align: center;
}

.loginsignup-fields {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 30px;
}

.loginsignup-container input {
    height: 45px;
    padding: 0px 15px;
    border: 1px solid #c9c9c9;
    border-radius: 6px;
    font-size: 16px;
}

.loginsignup-container button {
    width: 100%;
    height: 50px;
    background: black;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 6px;
    margin-top: 30px;
    cursor: pointer;
}

.loginsignup-login {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}

.loginsignup-login span {
    font-weight: 600;
    margin-left: 5px;
    cursor: pointer;
}

.loginsignup-agree {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 18px;
    font-size: 13px;
}
