.shopcategory-banner {
    display: block;
    width: 80%;
    margin: 30px auto;
}

.shopcategory-indexSort {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shopcategory-sort {
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
    cursor: pointer;
   
}

.shopcategory-indexSort p span {
    font-weight: 500;
}

.shopcategory-products {
    margin: 20px 135px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 80px;
}

.shopcategory-loadmore {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 150px auto;
    width: 230px;
    height: 69px;
    background: #ededed;
    border-radius: 75px;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
