.offers {
    width: 65%;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0px 60px;
    margin-bottom: 150px;
    border-radius: 20px;

    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
}

.offers-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.offers-left h1 {
    color: black;
    font-size: 70px;
    font-weight: 600;
    margin: 0;
}

.offers-left p {
    color: #4a4a4a;
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0;
}

.offers-left button {
    width: 240px;
    height: 60px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.offers-left button:hover {
    background: #e73434;
    transform: scale(1.05);
}

.offers-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offers-right img {
    height: 90%;
    object-fit: contain;
}
